.diorama:before, .diorama {
display: inline-block;
font-style: normal;
font-weight: normal;
font-variant: normal;
line-height: 1;
text-rendering: auto;
speak: none;
}

dl.diorama dt{
font-size: 3.5em;
padding-left: 0.5em;
}

dl.diorama dd {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 0.8em;
color: #333333;
text-transform: capitalize;
padding-left: 4.5em;
position: relative;
top: -2.4em;
}
